body{
    padding: 0;
    margin: 0 auto;
}
.main-part-3 {
    background-image: url(imags/background\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.part-3-tittle>h2 {
    width: fit-content;
    margin: auto;
    padding-top: 140px;
    font-size: 32px;
    font-weight: bold;
}
.part-3-tittle>p {
    color: #ffffffa6;
    width: fit-content;
    line-height: 1.5;
    margin:  auto;
}
.part-3-dot {
    padding-top: 60px;
    padding-bottom: 50px;
    scale: 1;
    display: flex;
    justify-content: space-evenly;
}
.pentagon  {
    width: 190px;
    height: 190px;
    background-color: #ff6565;
    clip-path: polygon(50% 0%,100% 38%,82% 100%,18% 100%, 0% 38%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: white;
}  
.tittle {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
}  
.text {
    margin-bottom: 20px;
}
