/***   continer   ***/

.continer {
    margin: 0 auto; 
    padding: 0;
}

/*---------------------------------------------------*/

        /***   header   ***/

.header {
    position: absolute;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imag {
    margin-right: 80px;
}
.header nav {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links_container {
    display: flex;
}
.links_container a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
.links_container a:hover {
    color: #ff6565;
}
#sidebar_active {
    display: none;
}
.open_sidebar_button, .close_sidebar_button {
    display: none;
}
@media (max-width: 650px) {
    .imag {
        margin-right: 0;
        scale: 1.2;
    }
    .links_container  {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 100%;
        height: 100vh;
        transition:  1s ease;
        padding-top: 52.5px;
        padding-bottom: 52.5px;
    } 
    .links_container a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: center;
    }
    .close_sidebar_button {
        width: 100%;
        text-align: right;
        margin-right: 20%;
        margin-bottom: 30px
    }
    .open_sidebar_button, .close_sidebar_button {
        cursor: pointer;
        display: block;
    }
    #sidebar_active:checked ~ .links_container {
        right: 0;
    }
    #sidebar_active:checked ~ .open_sidebar_button {
        display: none ;
    }
}

/*---------------------------------------------------*/

        /***   main-part-1   ***/

.main-part-1 {
    background-image: url(imags/background\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 35%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.main-part-1>h1 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    width: fit-content;
    margin: 0px auto;
    margin-top: 400px;

}
.main-part-1>h4 {
    font-size: 16px;
    color: white;
    width: fit-content;  
    margin: 0px auto;
    margin-top: 20px;
    padding-bottom: 40px;
}
.main-part-1>button {
    cursor: pointer;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    background-color: #ff6565;
    color: white;
    text-decoration: none;
    border-radius: 20px;    
    margin: 30px auto;
    width: 160px;
    height: 45px;

} 
.main-part-1 button:hover,.main-part-1 button:active {
    opacity: 0.9;
}
.main-part-1>div {
    padding-bottom: 50px;
    font-size: 12px;
    color: white;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    margin-top: 20px ;
}
@media (max-width: 600px) {
    .main-part-1 h1 {
        padding: 0 5%;
    }
    .main-part-1 h4{
        padding: 0 5%;
    }
    .main-part-1 button {
        padding: 0 5%;
    }
    .main-part-1 div {
        padding: 0 5%;
        padding-bottom: 50px;
    }
}

/*---------------------------------------------------*/

        /***   main-part-2   ***/

.part-2-tittle>h2 {
    width: fit-content;
    font-size: 32px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.part-2-tittle>p {
    width: fit-content;
    margin: 0px auto;
    line-height: 1.5;
    color: #000000a6;
}
.icone {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}  
.icone>h6 {
    margin: 25px 0 ;
    font-weight: bold;
    font-size: 20px;
}
.icone>p {
    color: #000000a6;    
}
.icone:hover {
    scale: 1.2;
    background: linear-gradient(to bottom, gray, white);
    border-radius: 10px;
}
@media (min-width: 601px) and (max-width: 1050px) {
    .part-2-tittle {
        text-align: center;
        margin: 0 5%;
    }
    .part-2-icones {
        margin: 0 5%; 
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .icone {
        width: 50%;
        padding: 25px 0 ;
    }
}
@media (max-width: 600px) {
    .part-2-tittle {
        text-align: center;
        margin: 0 5%;
    }
    .part-2-icones {
        margin: 0 5%; 
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .icone {
        width: 100%;
        padding: 25px 0 ;
    }
}

/*---------------------------------------------------*/

        /***   main-part-3   ***/

.main-part-3 {
    background-image: url(imags/background\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    color: white;
}
.part-3-tittle>h2 {
    width: fit-content;
    margin: auto;
    padding-top: 140px;
    font-size: 32px;
    font-weight: bold;
}
.part-3-tittle>p {
    color: #ffffffa6;
    width: fit-content;
    line-height: 1.5;
    margin:  auto;
}
.part-3-dot {
    padding-top: 60px;
    padding-bottom: 50px;
    scale: 1;
    display: flex;
    justify-content: space-evenly;
}
.dot:hover {
    scale: 1.2;
    background: linear-gradient(to bottom, white, #ffffff00);
    border-radius: 10px;
}
@media (min-width: 601px) and (max-width: 1050px) {
    .part-3-tittle {
        text-align: center;
        margin: 0 5%;     
    }
    .part-3-dot {
        margin: 0 5%; 
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .dot {
        width: 50%;
        padding: 25px 0 ;
    }
}
@media (max-width: 600px) {
    .part-3-tittle {
        text-align: center;
        margin: 0 5%;     
    }
    .part-3-dot {
        margin: 0 5%; 
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .dot {
        width: 100%;
        padding: 25px 0 ;
    }
}

/*---------------------------------------------------*/

        /***   main-part-4   ***/

.contact {   
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 60px;
}
.contact>h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.contact>div {
    line-height: 2;
    padding-top: 50px;
}
.contact div input {
    height: 30px;
    width: 330px;
}
.contact>button {  
    border: none;
    font-size: 12px;
    font-weight: bold;
    background-color: #ff6565;
    color: white;
    text-decoration: none;
    border-radius: 20px;    
    width: 160px;
    height: 45px;
    margin: 50px 0;
    cursor: pointer;
}
.contact button:hover,.contact button:active {
    opacity: 0.9;
}
@media (max-width: 400px) {
    .contact div input {
        width: auto;
        padding: 0 5%;
    }
}

/*---------------------------------------------------*/

        /***   footer   ***/

.footer {
    height: 250px;
    background-image:url(imags/footer_background.png);
    color: #ffffff5e;
    margin-top: 80px;
}
.footer>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 85px;
    word-spacing: 15px;
}
.footer>p {
    margin: auto;
    width: fit-content;
    padding-top: 80px;
}
@media (max-width: 600px) {
    .footer {
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }
    .footer div  {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
    }
    .footer p {
        padding-top: 0px;
        margin: 0 auto;
    }
    .footer div div {
        padding-top: 35px;
        gap: 15px;
        display: flex;
        flex-direction: row;
    }

}
    